/*-------------------------------------------------------------------GLOBAL CALLS START----------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(./Images/paper_back.jpg);
    background-position: center;
    background-size: contain;
}

.wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
    /* margin-top: 4em; */
    margin-bottom: 4em;
}
/*-------------------------------------------------------------------GLOBAL CALLS END----------------------------------------------------------------*/













/*-------------------------------------------------------------------HEADER START--------------------------------------------------------------------*/
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2em;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-list a:hover {
    color: orange;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner-text {
    z-index: 1;
    text-align: center;
    color: white;
}

.banner-text h1 {
    font-size: 5em;
    margin-bottom: 0.2em;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-text p {
    font-size: 1.7em;
    line-height: 1.2;
    height: 1.3em;
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    border-right: 3px solid white;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.arrow {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%) rotate(315deg);
    width: 2em;
    height: 2em;
    background-color: black;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    animation: pulse 1.5s infinite ease-in-out;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) translateY(0) rotate(315deg);
        opacity: 1;
    }

    50% {
        transform: translateX(-50%) translateY(10px) rotate(315deg);
        opacity: 0.5;
    }

    100% {
        transform: translateX(-50%) translateY(0) rotate(315deg);
        opacity: 1;
    }
}

/*-------------------------------------------------------------------HEADER END--------------------------------------------------------------------*/




/*-------------------------------------------------------------------ABOUT SECTION START-----------------------------------------------------------*/
#about {
    border-radius: 20px;
    display: flex;
    width: 100%;
    background: #2C3E50;
    color: white;
    padding: 1em;
    gap: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.imageDiv {
    border: 5px solid #F5E8D3;
    border-radius: 10px;
}

img {
    height: 100%;
    width: 100%;

}

.descriptionBox {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 2em;
}

.aboutmeText {
    margin-bottom: 0.8em;
    font-size: 3.2em;
    color: #F5E8D3;
}

.nameTitle {
    margin-bottom: 2em;
    font-size: 1.1em;
    color: white;
}

.descriptionText {
    text-align: justify;
    margin-bottom: 3em;
}

.lettalk {
    font-size: 1.4em;
}

.socialplat {
    margin-top: 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fa-linkedin,
.fa-github-alt,
.fa-google,
.fa-twitter,
.fa-itch-io {
    font-size: 2.5em;
    color: #F5E8D3;
    transition: transform 0.3s ease, color 0.3s ease;
}

.fa-linkedin:hover,
.fa-github-alt:hover,
.fa-google:hover,
.fa-twitter:hover,
.fa-itch-io:hover {
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.socialplat a {
    position: relative;
    text-decoration: none;
}

.data-tooltip {
    size: 3em;
}

.socialplat a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F5E8D3;
    color: black;
    padding: 0.5em;
    border: 4px solid #333;
    border-radius: 3px;
    font-size: 0.7em;
    white-space: nowrap;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.socialplat a:hover::after {
    opacity: 1;
    visibility: visible;
}


/*-------------------------------------------------------------------ABOUT SECTION START-----------------------------------------------------------*/






/*-------------------------------------------------------------------PROJECT SECTION START-----------------------------------------------------------*/

.project {
    font-size: 3.2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;

}

.scroll-arrow {
    background-color: #2C3E50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 2em;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll-container {
    overflow-x: hidden;
    padding: 1em;
}

.box {
    display: inline-flex;
    gap: 1em;
}
/*---------------------------FIRST CARD START---------------------------------*/
.card1 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    flex: 0 0 auto;
    width: 26em;
    height: 80vh;
    background-image: url(./Images/Scrawlsense.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    color: black;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card1 .details {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
    font-size: 1em;
    padding: 0.7em;
    text-align: center;
    border-radius: 0 0 80px 80px;
    transition: bottom 0.8s ease;
    z-index: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.card1 .details p {
    text-align: justify;
}

.card1.show-details .details {
    bottom: 0;
    z-index: 1;
}

/*---------------------------FIRST CARD END---------------------------------*/








/*---------------------------SECOND CARD START------------------------------*/
.card2 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    flex: 0 0 auto;
    width: 26em;
    background-image: url(./Images/marss.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    color: black;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}



.card2 .details {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
    font-size: 1em;
    padding: 0.7em;
    text-align: center;
    border-radius: 0 0 80px 80px;
    transition: bottom 0.8s ease;
    z-index: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.card2 .details p {
    text-align: justify;
}

.card2.show-details .details {
    bottom: 0;
    z-index: 1;
}

.marsicon1 {
    width: 10%;
}
/*---------------------------SECOND CARD END-------------------------------*/









/*---------------------------THIRD CARD START-------------------------------*/
.card3 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    flex: 0 0 auto;
    width: 26em;
    background-image: url(./Images/medisense.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    color: black;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card3 .details {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
    font-size: 1em;
    padding: 0.7em;
    text-align: center;
    border-radius: 0 0 80px 80px;
    transition: bottom 0.8s ease;
    z-index: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.card3 .details p {
    text-align: justify;
}

.card3.show-details .details {
    bottom: 0;
    z-index: 1;
}
/*---------------------------THIRD CARD END--------------------------------*/








/*---------------------------FOURTH CARD START-----------------------------*/
.card4 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    flex: 0 0 auto;
    width: 26em;
    background-image: url(./Images/shape.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
    color: black;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}



.card4 .details {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
    font-size: 1em;
    padding: 0.7em;
    text-align: center;
    border-radius: 0 0 80px 80px;
    transition: bottom 0.8s ease;
    z-index: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.card4 .details p {
    text-align: justify;
}

.card4.show-details .details {
    bottom: 0;
    z-index: 1;
}
/*---------------------------FOURTH CARD END------------------------------*/

.cardTitle {
    color: white;
    letter-spacing: 0.3em;
    margin: 5em 5em;
}

.info {
    margin-top: 3em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.usedPackages {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.package {
    padding: 0.4em;
    background-color: #F5E8D3;
    border-radius: 5px;
    color: #2C3E50;
}

/*-------------------------------------------------------------------PROJECT SECTION END-----------------------------------------------------------*/












/*-------------------------------------------------------------------EXPERIENCE SECTION START-------------------------------------------------------*/


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    width: 100%;
    height: 100%;
}

.flip-card {
    width: 100%;
    height: 50vh;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 2em;
}


.flip-card-front {
    background-color: #2C3E50;
    color: #F5E8D3;
}

.flip-card-back {
    background-color: #F5E8D3;
    color: black;
    transform: rotateY(180deg);
}

.innerDetails {
    height: 100%;
    display: flex;
    text-align: left;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
}

.innerDetails p {
    margin-bottom: 1em;
    text-align: left;
}

.marginHead {
    margin-bottom: 1em;
    text-align: justify;
    border-bottom: 5px solid #2C3E50;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/*---------------------------ICONS START------------------------------*/
.icon1 {
    width: 60%;
    height: auto;
    margin-bottom: 1em;
}

.icon2 {
    width: 60%;
    height: auto;
    margin-bottom: 1em;
}

.icon3 {
    width: 40%;
    height: auto;
    margin-bottom: 1em;
}

.icon4 {
    width: 20%;
    height: auto;
    margin-bottom: 1em;
}

.icon5 {
    width: 40%;
    height: auto;
    margin-bottom: 1em;
}
/*---------------------------ICONS END------------------------------*/

/*-------------------------------------------------------------------EXPERIENCE SECTION END-------------------------------------------------------*/












/*-------------------------------------------------------------------FOOTER SECTION START-------------------------------------------------------*/

footer {
    color: #333;
    padding: 1em;
    width: 100%;
}

.footerclass {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background-color: #ecf3f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*---------------------------TOP SECTION START------------------------------*/
.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 0 1em;
    font-size: 1em;
    color: #888;
}

.back-to-top {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-to-top span {
    margin-right: 1em;
    font-size: 1em;
}

.arrowup {
    width: 1em;
}
/*---------------------------TOP SECTION END---------------------------------*/





/*---------------------------MIDDLE SECTION START------------------------------*/
.middleSection {
    margin-bottom: 2em;
}

.middleSection h1 {
    font-size: 3em;
    font-weight: 700;
    color: #2C3E50;
    position: relative;
}
/*---------------------------MIDDLE SECTION END------------------------------*/


/*---------------------------BOTTOM SECTION START------------------------------*/
.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    font-size: 1em;
}

.linkclass {
    display: flex;
    gap: 1em;
}

.linkclass a {
    text-decoration: none;
    color: inherit;
}

.linkclass a:hover {
    color: white;
}

.git {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.git:hover {
    background: #2C3E50;
    color: #fff;
    border-color: #333;
}

.nameclass {
    text-align: right;
    color: #888;
}
/*---------------------------BOTTOM SECTION END------------------------------*/
/*------------------------------------------------------------------FOOTER SECTION END-------------------------------------------------------*/









/*-----------------------------------------------------------RESPONSIVENESS SECTION START-----------------------------------------------------*/

/*---------------------------MOBILE SECTION START------------------------------*/
@media (max-width: 480px){

    /*---------------------HEADER START------------------------*/
    /* header{
        display: flex;
        flex-direction: column;
    }

    .logo{
        font-size: 1.4em;
        margin-bottom: 0.7em;
    }

    nav{
        display: flex;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
    }

    .nav-list a{
        font-size: 1em;
    }

    .banner {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner img {
        width: 100%;
        position: absolute;
        object-fit: cover;
    }

    .banner-text{
        margin-top: 13em;
    }

    .banner-text h1{
        font-size: 1.8em;
    }

    .banner-text p {
        font-size: 1.3em;
        line-height: 1.2;
    }

    .arrow{
        width: 1em;
        height: 1em;
    } */
    /*---------------------HEADER END------------------------*/

    /*---------------------ABOUT START------------------------*/
    /*---------------------ABOUT END-------------------------*/
}
/*---------------------------MOBILE SECTION END------------------------------*/


/*---------------------------DESKTOP SECTION START------------------------------*/
/*---------------------------DEESKTOP SECTION END------------------------------*/
