/*--------------------GLOBAL CALLS START--------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
}

/*--------------------GLOBAL CALLS END--------------------*/






/*--------------------NAVIGATION SECTION START--------------------*/
#navigation{
    border: 4px solid green;
}

#navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

#navigation ul a{
    text-decoration: none;
}
/*--------------------NAVIGATION SECTION END--------------------*/






/*--------------------HEAD SECTION START--------------------*/
#head{
    border: 2px solid yellow;
}
/*--------------------HEAD SECTION END--------------------*/





/*--------------------HOME SECTION START--------------------*/
#home{
    border: 2px solid black;
}
/*--------------------HOME SECTION END--------------------*/





/*--------------------XP SECTION START--------------------*/
#xp{
    border: 2px solid purple;
}
/*--------------------XP SECTION END--------------------*/





/*--------------------CONTACT SECTION START--------------------*/
#contact{
    border: 2px solid blue;
}
/*--------------------CONTACT SECTION END--------------------*/





/*--------------------PROJECTS SECTION START--------------------*/
#pro{
    border: 2px solid grey;
}
/*--------------------PROJECTS SECTION END--------------------*/





/*--------------------FOOTER SECTION START--------------------*/
footer{
    border: 2px solid orange;
}
/*--------------------FOOTER SECTION END--------------------*/